#firstID{
 display: flex;
  justify-content: center;
  align-items: center;

}


img{
  width: 200px;

}
#thirdDiv{
  height: 600px;
  width: 500px;
  background-color: lime;
  padding: 50px;
  border: 5px solid black;
}

#spanId{
  display: block;
  text-align: justify;
  font-size: 25px;


}
